.book-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 600px;
}

.book-details img {
	width: 200px;
	margin: 20px;
}
.book-details .btn-container .icon {
	width: 15px;
	/* margin: 20px; */
	/* padding: 20px; */
}

.book-details .book-categories {
	/* grid-area: 4/1/5/-1; */
	display: flex;
	font-size: 1em;
	font-weight: 200;
	padding: 4px 0px;
	align-content: center;
	flex-wrap: wrap;
	list-style-type: none;
}

.book-details .book-categories li {
	color: white;
	background-color: rgb(136, 136, 136);
	padding: 0px 3px;
	margin: 3px;
	border-radius: 4px;
}
.book-details .book-authors {
	/* grid-area: 3/1/4/-1; */
	font-size: 1em;
	color: rgb(105, 105, 105);
	margin: 4px 0px;
}
